.btn-checkliste-E {
    border: black 1pt solid;
    cursor: pointer;
    background-color: bisque;
}

.btn-checkliste-P {
    border: black 1pt solid;
    cursor: pointer;
    background-color: lavender;
}

.btn-checkliste-T {
    border: black 1pt solid;
    cursor: pointer;
    background-color: #c6ffb3;
}
