<div class="chl-container mt-1">
    <div class="col-12">

	    <h2>Verbotene Zone</h2>
	    <p>Nee, nee, nee. Da darfst du nur hinne, wenn du eingeloggt bist.</p>

        <div class="d-none d-md-block">
            <div class="btn-group d-flex" role="group">

		        <button class="btn btn-secondary w-100 m-1" (click)="logIn()" title="loggst du dich ein..."><i class="fa fa-sign-in"
				    aria-hidden="true"></i> einloggen</button>
            
                <button class="btn btn-secondary w-100 m-1" (click)="goHome()" title="Gehste wieder nach Hause..."><i class="fa fa-arrow-left"
				    aria-hidden="true"></i> zur Startseite</button>
	        </div>
        </div>

        <div class="d-md-none d-lg-none d-xl-none">
            <div class="btn-group d-inline" role="group">

		        <button class="btn btn-secondary w-100 m-1" (click)="logIn()" title="loggste dich ein..."><i class="fa fa-sign-in"
				    aria-hidden="true"></i> einloggen</button>
            
                <button class="btn btn-secondary w-100 m-1" (click)="goHome()" title="Gehste wieder nach Hause..."><i class="fa fa-arrow-left"
				    aria-hidden="true"></i> zur Startseite</button>
	        </div>
        </div>

    </div>

</div>