<p *ngIf="showFilename">execute-checkliste.component.ts</p>

<div class="chl-container" *ngIf="listenFacade.selectedCheckliste$ | async as checkliste else loading">

    <h4>Liste "{{checkliste.checkisteDaten.name}}" abarbeiten</h4>

    <h5 class="mt-2">vorgemerkt ({{checkliste.appearance.itemsOben.length}}):</h5>

    <div class="container" *ngFor="let item of checkliste.appearance.itemsOben">
      <chl-executionitem-details [checklisteItem]="item" [backgroundColor]="checkliste.appearance.color" [position]="'VORSCHLAG'" (itemClicked)="onItemClicked($event)"></chl-executionitem-details>
    </div>

    <h5 class="mt-2">erledigt ({{checkliste.appearance.itemsUnten.length}}):</h5>

    <div class="container" *ngFor="let item of checkliste.appearance.itemsUnten">
      <chl-executionitem-details [checklisteItem]="item" [backgroundColor]="checkliste.appearance.color" [position]="'AUSGEWAEHLT'" (itemClicked)="onItemClicked($event)"></chl-executionitem-details>
    </div>

    <div class="d-none d-md-block">
        <div class="d-flex flex-row hidden-xs" role="group">
            <button class="btn btn-secondary w-100 m-1" [disabled]="saveDisabled()" (click)="submit()" title="Änderungen speichern">speichern</button>
            <button class="btn btn-secondary w-100 m-1" [disabled]="undoDisabled()" (click)="undo()" title="Änderungen verwerfen">verwerfen</button>
            <button class="btn btn-secondary w-100 m-1" (click)="gotoListen()" title="zurück zu den Listen">alle Listen</button>
        </div>
    </div>

    <div class="d-md-none d-lg-none d-xl-none">
        <div class="btn-group d-inline" role="group">
            <button class="btn btn-secondary w-100 m-1" [disabled]="saveDisabled()" (click)="submit()" title="Änderungen speichern">speichern</button>
            <button class="btn btn-secondary w-100 m-1" [disabled]="undoDisabled()" (click)="undo()" title="Änderungen verwerfen">verwerfen</button>
            <button class="btn btn-secondary w-100 m-1" (click)="gotoListen()" title="zurück zu den Listen">alle Listen</button>
        </div>
    </div>

</div>

<ng-template #dialogUnsavedChanges let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Du hast noch nicht gespeichert</h4>
  </div>
  <div class="modal-body">
      <p>Bist du sicher, dass du weg willst?</p>        
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.close('STAY')">hier bleiben</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('DISCARD')">Änderungen verwerfen</button>
  </div>
</ng-template>

<ng-template #loading>
	Lade Checkliste... <i class="fa fa-spinner fa-2x fa-spin" aria-hidden="true"></i>
</ng-template>
