* {
  /** box content wird automatisch so berechnet, dass width und height konstant bleiben */
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 90%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
footer {
  position: relative;
  margin-top: 150px;
  background-color: #d5d9dd;
  padding: 5px 10px 5px 10px;
}
  
.chl-container {
  margin-top: 10px;
  align-content: center;
}
  
/* === Hintergrundfarben für Checklistentypen === */
.btn-checkliste-E {
  border: black 1pt solid;
  cursor: pointer;
  background-color: bisque;
}

.btn-checkliste-P {
  border: black 1pt solid;
  cursor: pointer;
  background-color: lavender;
}

.btn-checkliste-T {
  border: black 1pt solid;
  cursor: pointer;
  background-color: #c6ffb3;
}
  
.item-btn {
  cursor: pointer;
}

.btn-trash {
  font-size: 2rem;
  text-align: right;
  cursor: pointer;
}

.btn-edit {
  font-size: 2rem;
  text-align: left;
  cursor: pointer;
}
  
.kleber {
  position: fixed;
  left: -1000px;
} 
  
/* ===== small devices ==== */
  
  @media (max-width: 768px) {

    body {
      width: 100%;
    }
  
    .h4,
    body {
        font-size: 1rem;          
    }
  
    h2
      .header-3,
      .hinweis {
          font-size: 1.2rem;
    }
  
      .dialog {
          width: 100%;
      }
  
  }
  
  
  
  
  
  
  
  
  