<div class="container-fluid">
  <chl-navbar></chl-navbar>
  <chl-msg></chl-msg>

  <main>
    <div class="container-fluid">
      <router-outlet #routerOutlet="outlet"></router-outlet>
    </div>
  </main>

  <chl-msg></chl-msg>
  
  <footer class="border-top">
    <div class="row">
      <div class="col-md-4 text-md-left">&copy; Heike Winkelvo&szlig;</div>
      <div *ngIf="showFilename" class="col-md-4 text-xs-center">{{envName}}, API: {{api}}</div>
      <div class="col-md-4 text-md-right">Version {{version}}</div>
    </div>
  </footer>
</div>
