<div class="row mt-5">
	<div class="col-12 text-center">
		<h2>Checklisten proudly presented by Opa Wetterwachs</h2>
	</div>
</div>
<div class="row">
	<div class="col-12 text-center">
		<img src="https://opa-wetterwachs.de/checklistenapp/assets/favicon-96x96.png" alt="" aria-role="logo">
	</div>
</div>

<div class="mkv-container">

	<div class="col-md-12 mb-2 ml-0 pl-1 mt-5">
		Aktuelle Version ist 8.0.0. Bitte einmal die Seite komplett neu laden (Strg + F5), falls die Fußleiste
		eine andere Version anzeigt.
	</div>
</div>
